h1 {
    text-align: center;
    color: #ffffff;
    margin-top: 7%;
}

#a {
    font-size: 25px;
}

#b {
    font-size: 25px;
}

#c {
    font-size: 25px;
}

#reset-button:hover{
    color:orange;
}

#submit-button:hover{
    color:orange;
}

#reset-button {
    font-size: 15px;
    font-weight: bolder;
}

#submit-button {
    font-size: 15px;
    font-weight: bolder;
}

#output {
    color: #000000;
}

#cover {
    margin-top: 2%;
    font-size: 30px;
    color: #000000;
}

body {
    background-color: orange;
}

.try-form {
    text-align: center;
}

.hapa {
    background-color: rgb(42, 165, 79);
    border-radius: 5px;
}


a:hover {
    background-color: orange;
    border-radius: 10px;
    color: black;
    font-weight: bolder;

}

html,
body,
header,
.carousel {
    height: 100%;
}


.carousel,
.carousel .carousel-inner,
.carousel .carousel-inner .active,
.carousel .carousel-inner .carousel-item,
.view,
body,
html {
    height: 100%
}

.navbar {
    background-color: rgba(0, 0, 0, .2)
}

.page-footer,
.top-nav-collapse {
    background-color: #1C2331;
}

@media only screen and (max-width:768px) {
    body {
        background-color: teal;
    }

    h1 {
        margin-top: 30%;
    }

    .nav-brand {
        font-size: 50px;
    }

    #a {
        font-size: 20px;
    }

    #b {
        font-size: 20px;
    }

    #c {
        font-size: 20px;
    }
}


body {
    font-family: 'VT323', monospace;
    font-size: 25px;
}

.futa {
    background-color: black;
}

#mine {
    background-color: black;
    color: black;
}

.footer {

    text-align: center;
    background-color: black;
    color: gold;
    position: relative;
    bottom: -100px;
    width: 100%;
    height: 60px;
}

.fa-facebook-f {
    color: #3b5998;
}

.fa-twitter {
    color: #00acee;
}

.fa-github {
    color: #FFFFFF;
}



body,
html {
    overflow-x: hidden;

}

.mimi img {
    float: left;
}


.active-yangu>a {
    background-color: rgba(255, 174, 0, 0.966);
    border-radius: 10%;
}